:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #222;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #fff;
  padding: 0.75rem;
  text-decoration: none;
}

main {
  flex: auto;
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 639px) {
  main {
    margin: 2rem;
  }
}

.signature-svg path {
  fill: #222;
  stroke: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ccc;
    background-color: #1a1a1a;
  }

  .signature-svg path {
    fill: #ccc;
    stroke: #ccc;
  }
}
